.topBar {
  background: white;
  border-top: 8px solid #82CD27;
}

.logo img {
  height: 90px;
  margin: 5px 0;
  pointer-events: none;
}

.rightItems {
  float: right;
  text-align: right;
  display: inline-flex;
}

.rightItems .dividerLine {
  margin: 0 40px;
}
