@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-iajp3t-MuiButtonGroup-root .MuiButtonGroup-grouped {
  color: #267a29;
  border-color: #267a29;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8px !important;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #b9b9b9;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(59, 59, 59, 0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: #267a29;
  border-radius: 20px;
}
